<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @study.course %>
</p>

<p>
  <strong>Position:</strong>
  <%= @study.position %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
